.footer{
    background-color: #747070;
    justify-content: space-evenly;
    display: flex;
    bottom: 0;
    padding: 20px;
    margin-top: auto;
}

.description-footer{
}

.quicklinks-container{
    display: flex;
    flex-direction: column;
}

.quicklinks{
    display: flex;
    flex-direction: column;
}

.footer-items{
    padding: 5px;
    color: white;
}