/* Menu.css */
.toolbar{
  background-color: #6e6c6c;
  position: fixed;
  border: 0.5px;
  border-color: rgb(49, 49, 49);
  border-style: solid;
  box-shadow: 0 0 10px rgba(48, 48, 48, 0.788); 
}

.login {
  background-color: black;
  width: 50%;
}

.logout {
  background-color: red;
  width: 100%;
}


.logo {
  font-size: 1.5rem;
  margin-left: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-align: left !important;
  align-items: start;

}

.user-actions {
  display: flex;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile span {
  margin-left: 5px;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 20%;
  padding: 10px 0 0 30px;
  text-align: left !important;
  align-items: start;
  z-index: 1;
  
}

.menu-items.show {
  display: flex;
  text-align: left !important;
  align-items: start;
  padding: 10px 0 0 30px;
  
}

.menu-items {
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left !important;
  align-items: start;
  padding: 10px 0 0 30px;
}

.menu-items {
  background-color: #444;
  align-items: start;
  padding: 10px 0 0 30px;
}


.user-profile:hover {
  border-style: 1 solid #555;
  border-radius: 10px;
  background-color: #555;
}

.search-bar {
  height: 2.5rem;
  width: 70%;
  max-width: 300px;
  
}


.search {
  border-radius: 10px;
  border: 1px solid white;
  height: 2.5rem;
  width: 90%;
  max-width: 300px;
  background-color: white;
}


.worldIcon {
  float: left;
  margin-right: 5px;
}

.MuiSelect-select{
  color: white !important;
  
}
.languageselect {
  float: right;
  border: 1px solid white !important;
  color: white !important;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
Select{
  color: white !important;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: white;
}

.search-input {
  margin-right: 8px;
}
