.courseTileContainer{
    
    width: 400px;
    aspect-ratio: 4/3;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.788); 
    transition: transform 0.3s ease;
    transition: box-shadow 0.2s ease-in-out;
}

.courseTileContainer>h2{
    margin: 0;
}

.courseTileContainer:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.20); 
}