body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%; 
}


.window{
  width: 80%;
  margin-left: 10%;
  margin-top: 9%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 2px;
  border-radius: 15px;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  box-shadow: 0 0 10px rgba(48, 48, 48, 0.788); 
  margin-bottom: 0;

}

.CourseTitleAndStar {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;

}

.CourseContent {
  width: 80%;
  background-color: rgb(255, 255, 255);
}

.star {
  display: inline-block;
  transition: transform 0.3s;
  margin-right: 15px; /* Änderung hier: 10px statt 10% */
  background-color: rgba(255, 255, 255, 0);
  font-size: 70px;
}

.star-button:hover {
  transform: scale(1.2);
}

:root {
  /* --md-elevated-button-label-text-color: blue*/
}

.learn_test_buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
}
